.card {
  width: 323px;
  height: 326px;
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__content {
  left: 50%;
  
  display: flex;
  align-items: right;
  gap: 4px;
  z-index: 2;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  width: 73px;
  height: 24px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.card__like-btn {
  background-image: url("/src/assets/Likebutton.svg");
  
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
 
}
