.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  cursor: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  cursor: none;
}
