.cards {
  margin-top: 40px;
  width: 100%;
}

.cards__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0 !important;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  margin-top: 34px;
}
